@import "../node_modules/bootstrap/scss/bootstrap.scss";
/* You can add global styles to this file, and also import other style files */

html, body {
    min-height: 100vh;
    min-width: 100%;
}

body {
    background: linear-gradient(180deg, rgba(238,174,202,0.8354692218684349) 0%, rgba(148,187,233,0.8578781854538691) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding-bottom: 20px;
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header {
            width: 100%;
            text-align: center;
            position: relative;
            font-weight: 500;
            padding: 20px;
        }
    }

    .border-container {
        border-radius: 10px;
        border-width: 3px;
        border: 3px solid #2c2c2c;
    }

    .green {
        background: rgba(12, 170, 33, 0.808);
    }

    .red {
        background: rgba(230, 61, 9, 0.753);
    }

    .grey {
        background: rgb(136, 136, 136, 0.77);
    }
}