.wrapper {
    .timer {
        font-size: 40px;
        font-weight: 700;
        border-radius: 50%;
        background: rgba(221, 145, 211, 0.74);
        text-align: center;
        height: 64px;
        width: 64px;

        &.disabled {
            opacity: 0.4;
        }
    }

    .container {
        .player-1 {
            margin-right: 10px;
        }
    }

    .winning-state  {
        padding: 10px;
        border-radius: 50px;
    }

    .player-name-container div {
        width: 100%;
        text-align: center;
    }
}
