<div>
    <!-- Game States -->
    <div class="container flex-column">
        <button
            class="d-flex p-2 btn btn-dark mb-4"
            (click)="chooseGesture('rock')">
            Rock
        </button>
        <button
            class="d-flex p-2 btn btn-dark mb-4"
            (click)="chooseGesture('paper')">
            Paper
        </button>
        <button
            class="d-flex p-2 btn btn-dark mb-4"
            (click)="chooseGesture('scissors')">
            Scissors
        </button>
    </div>
</div>